Isaac/UnityProject/Library/
Isaac/UnityProject/Temp/
Isaac/UnityProject/UnityProject.CSharp.csproj
Isaac/UnityProject/UnityProject.sln
Isaac/UnityProject/UnityProject.CSharp.Plugins.csproj
Isaac/UnityProject/UnityProject.CSharp.Editor.csproj
pacman/vs_proj/Pacman/Pacman/Debug/
pacman/vs_proj/Pacman/ipch/PACMAN-cf1faa3f/PACMAN-d2ee18bc.ipch
pacman/vs_proj/Pacman/Pacman.VC.VC.opendb
pacman/vs_proj/Pacman/Pacman.VC.db
