Isaac/UnityProject/Library/
Isaac/UnityProject/Temp/
Isaac/UnityProject/UnityProject.CSharp.csproj
Isaac/UnityProject/UnityProject.sln
Isaac/UnityProject/UnityProject.CSharp.Plugins.csproj
Isaac/UnityProject/UnityProject.CSharp.Editor.csproj
pacman/vs_proj/Pacman/Pacman/Debug/
